.navbar {
  top: 0;
  padding: 0 40px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.navbar .nav-con {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.navbar .nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.navbar .nav-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-decoration: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.navbar .logo span {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.nav-sm {
  display: none;
}
.navbar .ham {
  display: none;
}
@media screen and (max-width: 900px) {
  .nav-links {
    display: none;
  }
  .navbar .nav-btn a {
    display: none;
  }
  .navbar .ham {
    position: relative;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .nav-sm {
    padding: 20px;
    position: absolute;
    display: none;
    top: 75px;
    right: 5px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  .nav-sm.active{
    display: flex;
  }
  .nav-sm .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-sm .nav-links ul {
    list-style: none;
  }
  .nav-sm .nav-links ul a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .nav-sm .nav-links ul li{
    margin: 10px 0;
  }
  .nav-sm .nav-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-decoration: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
}
